* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-behavior: auto;
}

/* body {
  margin: 0;
} */

.nav {
  position: sticky;
  top: 0;
  background-color: rgb(36, 46, 61);
  color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  gap: 0.5rem;
  flex-basis: 1;
}

.site-title {
  font-size: 1.5rem;
  margin-left: 7.5%;
}

.content-projects {
  margin-left: 0px;
}

.text {
  font-size: large;
}

.nav a {
  color: inherit;
  text-decoration: none;
  padding: 0.75rem;
  display: flex;
}

.nav .nav a.active {
  color: rgb(204, 204, 204);
}

.nav a:nth-of-type(3) {
  margin-left: auto;
}

.nav a:nth-of-type(4) {
  margin-right: 7.5%;
}

.nav a:hover {
  color: white;
}
.container {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}

.content {
  /* float: left; */
  padding-right: 6%;
  margin: 0;
}

.content h1 {
  color: rgb(241, 241, 241);
  font-size: 2rem;
  width: 50%;
  height: auto;
  gap: 0;
}

.content p {
  color: rgb(136, 135, 135);
  border: 1px;
  padding-top: auto;
  width: 50%;
  height: auto;
  gap: 0;
  margin-right: 0%;
  margin-left: 0%;
}

.buttons {
  border: 1px;
  width: 50%;
  height: auto;
  gap: 0;
}
.cta-Projects {
  border: 1px;
  border-radius: 5px;
  background-color: rgb(58, 58, 141);
  width: auto;
  height: auto;
  gap: 0;
  padding: 14px 28px;
  font-size: 14px;
  cursor: pointer;
}

.cta-Skills {
  border: 1px;
  border-radius: 5px;
  background-color: rgb(167, 167, 194);
  padding: 14px 28px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 1.5rem;
  text-align: center;
  width: fit-content;
}

.image {
  /* padding: 2px; */
  /* size: 100%; */
  /* border-left: 0px; */
  /* float: right; */
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 65%;
  /* margin-right: 10%; */
  /* margin-top: 5%; */
  /* z-index: 2; */
  /* box-sizing: auto; */
  /* align-content: center; */
  /* border: 0; */
  /* box-sizing: border-box; */
}

.container-projects {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  text-align: center;
}

.projects-title {
  color: rgb(241, 241, 241);
  font-size: 1.25rem;
  height: auto;
  gap: 0;
}

.container-projects projects {
  marging: 10%;
  width: auto;
  height: auto;
}

.container-projects projects calculator-image {
  float: left;
  width: 35%;
  height: auto;
}

.container-projects projects pool-game-image {
  float: right;
  width: 35%;
  height: auto;
}

.container-skills {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  text-align: center;
}

.text-center {
  color: rgb(241, 241, 241);
  font-size: 1.25rem;
  height: auto;
  gap: 0;
}

.list-skills {
  color: rgb(241, 241, 241);
  font-size: 0.75rem;
  height: auto;
  gap: 0;
}

/*
1. Get picture next to text
2. make Skills button the same width as the paragraph above
3. add skills at the bottom of the page
4. add projects in the middle part of the page

*/
